<div style="width:200px; padding-left:20px;margin-bottom:20px;">
  <mat-form-field>
    <mat-select placeholder="Choose crime" [(value)]="selectedCrime" (ngModel)="crimes">
    <mat-option *ngFor="let crime of crimes" [value]="crime.name">
      {{ crime.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>
<mat-form-field style="width:100%;padding-left:20px">
  <mat-label>Filter by player</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="type query">
</mat-form-field>
<div style="height:500px;width:100%;overflow-y:auto;">
  <mat-table [dataSource]="topplayersFiltered">
    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let topplayersFiltered; columns: columnsToDisplay"></mat-row>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Player Name </mat-header-cell>
      <mat-cell *matCellDef="let rec"> {{rec.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="arrestcount">
      <mat-header-cell *matHeaderCellDef> Arrest Count </mat-header-cell>
      <mat-cell *matCellDef="let rec"> {{rec.arrestcount}} </mat-cell>
    </ng-container>

  </mat-table>
</div>
